.okvir {
  margin: 50px;
  display: flex;
}

.card {
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5%;
  margin: 30px;
}

.num {
  background-color: #eeccff;
  border-radius: 3%;
  color: black;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 2px;
}
